.Suche {
    position: relative;
    display: flex;
    align-items: flex-start;
    max-height: 28px;
    input {
        width: 100%;
        background-color: transparent;
        border-width: 0 0 1px 0;
        padding: 4px 8px;
        border-radius: 0 !important;
    }
    label {
        max-height: 28px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        i {
            opacity: .6;
        }
    }
    &.Suche--accordion {
        width: 40%;
        float: right;
        input {
            font-size: 14px !important;
        }
        label {
            i {
                font-size: 14px !important;
            }
        }
    }
}